body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,  #00f1bd, #d346e6, #00f1bd);
  background-size: 300% 300%;
  animation: fondoMovimiento 8s ease infinite;
  color: #333;
} 

@keyframes fondoMovimiento {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 210px;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  padding: 30px 20px;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.25);
  text-align: center;
}

.sidebar h2 {
  color: #ffffff;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
}

.sidebar a {
  display: block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin: 12px 0;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
  background: rgba(255, 255, 255, 0.15);
}

.sidebar a:hover {
  background: rgba(255, 255, 255, 0.4);
}

.hero {
  margin-left: 260px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: rgb(255, 255, 255);
}

.perfil {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgba(253, 253, 253, 0.8);
  margin-bottom: 20px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}
#perfil img {
  border-radius: 20px !important;
}

.perfil:hover {
  transform: scale(1.12);
  box-shadow: 0 8px 30px rgba(0,0,0,0.4);
}

.section {
  margin-left: 260px;
  padding: 60px;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.galeria .imagenes {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.galeria img {
  cursor: pointer;
  transition: transform .25s ease;
  width: 220px;
  height: 220px;
  object-fit: cover;
  border-radius: 16px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.galeria img:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0,0,0,0.35);
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(10px);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 20px;
  z-index: 999;
}

.lightbox:target {
  display: flex;
}

.lightbox img {
  max-width: 90vw;     
  max-height: 85vh;    
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 20px;
  box-shadow: 0 4px 40px rgba(0,0,0,0.4);
  animation: aparecer 0.3s ease;
}


.cerrar {
  position: fixed;
  top: 20px;
  right: 40px;
  font-size: 40px;
  color: white;
  text-decoration: none;
  z-index: 999;
  font-weight: bold;
}

.cerrar:hover {
  color: #ff3333;
}

@keyframes aparecer {
  from { transform: scale(0.8); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}